  <section class="main-header">
    <img src="<%= asset_path "birds.png" %>">
  </section>

<section class="function container-fluid">
    <div class="row">
    <h2>Function</h2>
      <div class="function-images">
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "key.png" %>">
            <p>工事中１</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "mails.png" %>">
            <p>工事中２</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "girls.png" %>">
            <p>工事中３</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "comment.png" %>">
            <p>工事中４</p>
          </div>
        </div>
      </div>
    </div>
</section>
