<!DOCTYPE html>
<html>
<head>
  <title>Exam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
<header>
  <ul>
   <li><%= link_to "Exam", root_path %></li>
   <li><%= link_to "トップ", root_path %></li>
   <li><%= link_to "Tweet", tweets_path %></li>
  </ul>
</header>

<%= yield %>

<footer>
  <p>作成　Motoo TANAKA</p>
  <p>© 2017 Copyright Reserved</p>
</footer>

</body>
</html>
